fastapi
uvicorn
qdrant-client
pydantic
python-jose[cryptography]
passlib[bcrypt]
rank-bm25
tiktoken
python-dotenv
httpx

numpy<2
torch==2.4.0+cpu
sentence-transformers==2.7.0

sqlalchemy
psycopg2-binary
